<!DOCTYPE html>
<html>

<head>
    <title>Student I</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="container">

        <h1>Student Information</h1>

        <form id="studentForm">

            <label>Name</label>
            <input type="text" id="name" required>

            <label>Email</label>
            <input type="email" id="email" required>

            <label>Age</label>
            <input type="number" id="age" required>

            <label>Course</label>
            <input type="text" id="course" required>

            <button type="submit">Save Student</button>

        </form>


        <h2>Saved Students</h2>

        <table>

            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Age</th>
                    <th>Course</th>
                </tr>
            </thead>

            <tbody id="studentTable">
            </tbody>

        </table>

    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>

</html>